@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css");

html,
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #3f3f3f;
  background-color: #f1f1f1;
  font-size: 1.1em;
}

h1,
h2 {
  text-align: right;
}

.site-header,
.container {
  margin: 2em;
}

table,
th,
td {
  border: 0.15em solid #3f3f3f;
}

table {
  width: 100%;
}

th {
  height: 2em;
}

td {
  padding: 0.5em;
}

td:hover {
  background: #BDBBBB;
}

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 0.88em;
  }
}
